	<!-- Feature section -->
	<section class="feature-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 p-0">
					<div class="feature-item set-bg" style="background: url(/img/features/1.jpg);">
						<span class="cata new">new</span>
						<div class="fi-content text-white">
							<h5><a href="">Xbox E3 2019: Biggest</a></h5>
							<p>Announcements From Microsoft's Conference. </p>
							<a href="" class="fi-comment">24 Comments</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 p-0">
					<div class="feature-item set-bg" style="background: url(/img/features/2.jpg);">
						<span class="cata strategy">strategy</span>
						<div class="fi-content text-white">
							<h5><a href="#">Fallout 76 Battle Royale Mode</a></h5>
							<p>Nuclear Winter Revealed At E3 2019. </p>
							<a href="#" class="fi-comment">1 Comments</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 p-0">
					<div class="feature-item set-bg" style="background: url(/img/features/3.jpg);">
						<span class="cata new">new</span>
						<div class="fi-content text-white">
							<h5><a href="#">New Doom Eternal Trailer</a></h5>
							<p>Revealed At E3 2019. </p>
							<a href="#" class="fi-comment">19 Comments</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 p-0">
					<div class="feature-item set-bg" style="background: url(/img/features/4.jpg);">
						<span class="cata racing">racing</span>
						<div class="fi-content text-white">
							<h5><a href="#">Halo: The Master Cheif Collection</a></h5>
							<p>For PC Pricing Announced At E3. </p>
							<a href="#" class="fi-comment">32 Comments</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Feature section end -->