<nav class="navbar navbar-dark bg-dark" id="navbar">
    {{#if user}}
    <a class="navbar-brand" href="/profile"><i class="fa fa-user"></i></a>
    <a class="navbar-brand" href="/addPost"><i class="fa fa-plus-square-o"></i></a>
    <a href="navbar-brand" href="#">&copy; 2018</a>
    {{else}}
    <a class="navbar-brand" href="#">DS Gaming App inc.</a>
    <a class="navbar-brand" href="#">&copy; 2019 all rights reserved.</a>
    {{/if}}
</nav>