<div class="hero">
  <div class="overlay"></div>
  <div class="content">
        <div class="wrapper">
              <ul id="scene"
                  data-invert-x="false"
                  data-invert-y="false"
                  data-scalar-x="7"
                  data-scalar-y="7"
                  data-friction-x="0.1"
                  data-friction-y="0.1"
                  data-origin-x="0.5"
                  data-origin-y="0.5">
                <li class="layer name" data-depth="0.90">The Best Games Out There</li>
                <li class="layer title" data-depth="0.50">Game Warrior</li>
            </ul>
        </div>
  </div>
</div>