
	<!-- Latest news section -->
	<div class="latest-news-section">
		<div class="ln-title">Latest News</div>
		<div class="news-ticker">
			<div class="news-ticker-contant">
				<marquee behavior="" direction="">
                    <div class="nt-item"><span class="new">new</span>Final Fantasy VII Remake Launches <span>March 3, 2020</span>. </div>
				<div class="nt-item"><span class="strategy">strategy</span>Fall Guys Ultimate Knokout Announced for PC and PS4. </div>
				<div class="nt-item"><span class="racing">racing</span>Opinion - I'm Mad as Hell and I'm Not Going to take this Anymore. </div>
                </marquee>
			</div>
		</div>
	</div>
	<!-- Latest news section end -->
