<!-- Recent game section  -->
	<section class="recent-game-section spad set-bg" style="background: url(/img/recent-game-bg.png)">
		<div class="container">
			<div class="section-title">
				<div class="cata new">new</div>
				<h2>Recent Games</h2>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="recent-game-item">
						<div class="rgi-thumb set-bg"  style="background: url(/img/recent-game/1.jpg);">
							<div class="cata new">new</div>
						</div>
						<div class="rgi-content">
							<h5>Microsoft Xbox And Bethesda E3 2019</h5>
							<p>Tune in to see all the biggest reveals, gameplay, trailers, demos and more from Microsoft and Bethesda's. </p>
							<h3>
								<a href="/fruitslice" class="comment">Play</a>
							</h3>							
							<a href="" class="comment">12 hours ago</a>
							<div class="rgi-extra">
								
							</div>
						</div>
					</div>	
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="recent-game-item">
						<div class="rgi-thumb set-bg"   style="background: url(/img/recent-game/2.jpg);">
							<div class="cata racing">racing</div>
						</div>
						<div class="rgi-content">
							<h5>A Long Way in Video Games Leading Games</h5>
							<p>His character model was not so good-looking in a 2005 Matrix game; see the comparison shots here.</p>
							<h3>
								<a href="/mathgame" class="comment">Play</a>
							</h3>							
							<a href="" class="comment">3 hours ago</a>
							<div class="rgi-extra">
								
							</div>
						</div>
					</div>	
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="recent-game-item">
						<div class="rgi-thumb set-bg" style="background: url(/img/recent-game/3.jpg);">
							<div class="cata adventure">Adventure</div>
						</div>
						<div class="rgi-content">
							<h5>Every Big Bethesda E3 2019 Announcement And Game</h5>
							<p>Fallout 76 has a battle royale model, Wolfenstein: Youngblood is right around the corner.</p>
							<h3>
								<a href="/drawingapp" class="comment">Play</a>
							</h3>
							<a href="" class="comment">4 hours ago</a>
							<div class="rgi-extra">
								
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</section>
	<!-- Recent game section end -->