<!-- Review section -->
<section class="review-section spad set-bg  bg-dark">
	<div class="container">
		<div class="section-title">
			<div class="cata new">new</div>
			<h2>Feature Games</h2>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="review-item">
					<div class="review-cover set-bg" style="background: url(/img/review/1.jpg);">
						<div class="score yellow">9.3</div>
					</div>
					<div class="review-text">
						<h5>MUSIC GAME</h5>
						<p>The Outer Worlds: Release date, trailers, and everything we know.</p>
						<a href="/musicgame">play</a>
					</div>
				</div>
			</div> <!-- col-lg-3 -->
			<div class="col-lg-3 col-md-6">
				<div class="review-item">
					<div class="review-cover set-bg" style="background: url(/img/review/2.jpg);">
						<div class="score purple">9.5</div>
					</div>
					<div class="review-text">
						<h5>KNIGHTMARE</h5>
						<p>Star Wars Jedi: Fallen Order: Gameplay, release date and everything we know</p>
						<a href="/">play</a>
					</div>
				</div>
			</div> <!-- col-lg-3 -->
			<div class="col-lg-3 col-md-6">
				<div class="review-item">
					<div class="review-cover set-bg" style="background: url(/img/review/3.jpg);">
						<div class="score green">9.1</div>
						<div id="lap"><span id="lapminute">00</span>:<span id="lapsecond">00</span>:<span
								id="lapcentisecond">00</span></div>

						<div id="time"><span id="timeminute">00</span>:<span id="timesecond">00</span>:<span
								id="timecentisecond">00</span></div>

						<div id="controlsContainer" class="row">
							<div class="col-xs-2 col-xs-offset-4">
								<div id="startButton" class="control">
									Start
								</div>
								<div id="stopButton" class="control">
									Stop
								</div>
								<div id="resumeButton" class="control">
									Resume
								</div>
							</div>
							<div class="col-xs-2">
								<div id="lapButton" class="control">
									Lap
								</div>
								<div id="resetButton" class="control">
									Reset
								</div>
							</div>
						</div>

						<div id="laps"></div>

					</div>
					<div class="review-text">
						<h5>APEXCELLENT</h5>
						<p>Apex Legends update: Season 2 details and patch notes</p>
						<a href="/">play</a>
					</div>
				</div>
			</div> <!-- col-lg-3 -->
			<div class="col-lg-3 col-md-6">
				<div class="review-item">
					<div class="review-cover set-bg" style="background: url(/img/review/4.jpg);">
						<div class="score pink">9.7</div>
					</div>
					<div class="review-text">
						<h5>LOVE IS BLIND</h5>
						<p>Great moments in PC gaming: strange marriages in King's Bounty: The Legend</p>
						<a href="/">play</a>
					</div>
				</div>
			</div> <!-- col-lg-3 -->
		</div>
	</div>
</section>
<!-- Review section end -->