	<!-- Footer top section -->
	<section class="footer-top-section">
		<div class="container">
			<div class="footer-top-bg">
				<img src="img/footer-top-bg.png" alt="">
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="footer-logo text-white">
						<img src="img/footer-logo.png" alt="">
						<p>PC Gamer is part of Future US Inc, an international media group and leading digital publisher.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="footer-widget mb-5 mb-md-0">
						<h4 class="fw-title">Leave Comment</h4>
						<div class="latest-blog">
                            <div class="container-fluid text-center">
	                                <input type="text" id="user-input" class="form-control" placeholder="what you need to do" 
                                    onkeydown="return SerchKeyPress(event);">
									<div class="row" style="margin-top: 0px;">
									  <div class="col-md-6">
                                         <button class="btn btn-success" id="add">Add  TODO</button>
										  </div>
							        <div class="col-md-6">
                                        <button class="btn btn-danger" id="remove">Remove TODO</button>
                                    </div>
                              
									</div>
                                    <ul id="list"></ul>
                            </div>
							
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="footer-widget">
						<h4 class="fw-title">Top Comments</h4>
						<div class="top-comment">
							<div class="tc-item">
								<div class="tc-thumb set-bg" ></div>
								<div class="tc-content">
									<p><a href="#">James Smith</a> <span>on</span>Thanks to everyone who mentioned TechRaptor.</p>
									<div class="tc-date">June 21, 2018</div>
								</div>
							</div>
							<div class="tc-item">
								<div class="tc-thumb set-bg" ></div>
								<div class="tc-content">
									<p><a href="#">James Smith</a> <span>on</span>Thanks to everyone who mentioned TechRaptor.</p>
									<div class="tc-date">June 21, 2018</div>
								</div>
							</div>
							<div class="tc-item">
								<div class="tc-thumb set-bg" ></div>
								<div class="tc-content">
									<p><a href="#">James Smith</a> <span>on</span>Thanks to everyone who mentioned TechRaptor.</p>
									<div class="tc-date">June 21, 2018</div>
								</div>
							</div>
							<div class="tc-item">
								<div class="tc-thumb set-bg" ></div>
								<div class="tc-content">
									<p><a href="#">James Smith</a> <span>on</span>Thanks to everyone who mentioned TechRaptor.</p>
									<div class="tc-date">June 21, 2018</div>
								</div>
							</div>
                            {{!-- <div class="tc-item" style="color:red;">
                                   <h3>Calculator Result</h3>
                                    <h4 id="scorelove"></h4>
                                    <h6>Enter The Two Name</h6>
                                    <input type="text" name="loveName1" id="loveName1"> <span style="color:red;">💝</span>
                                    <input type="text" name="loveName2" id="loveName2">
                                    <button onclick="calculatelove()">Calculate</button>
                            </div> --}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer top section end -->

	
	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<ul class="footer-menu">
				<li><a href="">Home</a></li>
				<li><a href="">Games</a></li>
				<li><a href="">Blog</a></li>
				<li><a href="">Forums</a></li>
				<li><a href="">Contact</a></li>
			</ul>
			<p class="copyright">
                Copyright &copy; All rights reserved | This template is made with 
                <i class="fa fa-heart-o" aria-hidden="true"></i> by 
                <a href="#" target="_blank">Digital Solutions</a>
            </p>
		</div>
	</footer>
	<!-- Footer section end -->