 	<div class="inputContainer">

		<div class="input" id="colorInput">
			<input type="color" list id="paintColor">
		</div>

		<div class="input" id="thicknessInput">
			<div id="circle"></div>
		</div>
		<div class="input">
			<div id="slider"></div>
		</div>
        
	<div class="inputContainer2">
		{{!-- <div class="input2">
			<span id="erase" class="button">Erase</span>
		</div>

		<div class="input2">
			<span id="save" class="button">Save</span>
		</div> --}}

		<div class="input2">
			<span id="reset" class="button">Reset</span>
		</div>
	</div>

	</div>

	<div id="container-drawing">
		<canvas id="paint" width="500px" height="400px"></canvas>
	</div>
