<div id="container">
		<div id="score1">
			Score: <span id="scorevalue1">0</span>
		</div>
		<div id="trialsLeft">

		</div>
		<div id="correct">
			Correct
		</div>
		<div id="wrong">
			Try again
		</div>
		<div id="fruitsContainer">
			<img id="fruit1" class="fruit">
		</div>
		<div id="instruction">
			Catch Fruits
		</div>
		<div id="startreset1">
			Start Game
		</div>
		<div id="gameOver">

		</div>
</div>