<section class="simon-game-main">

    <div class="field red"></div>
    <div class="field blue"></div>
    <div class="field yellow"></div>
    <div class="field green"></div>

<div id="clock">    
</div>

<div class="bar" id="info">
	Welcome to Simon Game!
</div>
<div class="buttons">
	<button id="start">start</button>
	<button id="reset">reset</button>
</div>

</section>
